# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# --- Archivos y directorios temporales ---
/tmp/             # Directorio temporal genérico
*.tmp             # Archivos con extensión .tmp
*.log             # Archivos de log (si no están ya cubiertos por debug)
.temp/            # Otro posible directorio temporal

tmp
tmp/

/tmp
bfg-1.14.0.jar

/mentorapp-87d09-firebase-adminsdk-fbsvc-5e15d74c53.json
/client_secret_457119141841-c4ktbm552olbd8n4e9c3q8120itm9j6h.apps.googleusercontent.com.json